# Email Service Configuration
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=asadrehman0105@gmail.com
EMAIL_PASS=dtyuwrudzphelfql

# Project Settings
DEBUG=True
WORKSPACE_ROOT=./

# Supabase
VITE_SUPABASE_URL=https://hmphfkyvfpcbohzamesn.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_cUsbSX4coMFsULVc3Wp63A_DnJ9yfn1